@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tool</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tool.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tool.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tool.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Price)
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Category!.Name)
        </dd>
        <img src="@Model.Tool.Image" style="height: 250px; width: auto;">
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tool.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
