@page 
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tool</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tool.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tool.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tool.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Price)
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.Category!.Name)
        </dd>
        <img src="@Model.Tool.Image" style="height: 250px; width: auto;">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tool?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
