@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

@foreach (var tool in Model.Items)
{
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="@tool.Image" class="card-img-top" alt="@tool.Name">
            <div class="card-body">
                <h5 class="card-title">@tool.Name</h5>
                <p class="card-text">@tool.Description</p>
                <div style="display: flex; justify-content: space-between;">
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@tool.Id" asp-route-returnurl="@returnUrl"
                       class="btn btn-primary">Добавить в корзину</a>
                    <h4>$@tool.Price</h4>
                </div>
            </div>
        </div>
    </div>
}


<Pager current-page="@Model.CurrentPage"
       total-pages="@Model.TotalPages"
       category="@(Model.CategoryNormalizedName)">
</Pager>


